body {
  background-color: #C6DCE4;
}

hr {
  /* background-color: white; */
  border-style: dotted none none;
  border-color: grey;
  border-width: 7px;
  /* drugi sposób:
  border-style: none
  border-top-style: dotted
   */
  width: 18%;
}

img {
  height: 200px
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
